.employer {
    padding: 60px 0 50px;
}

.employer__title {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.64px;
    margin-bottom: 50px;
}

.employer__file {
    margin-bottom: 32px;
}

.employer__fieldset {
    margin-bottom: 32px;
}

.employer__fieldset_input {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 20px;
}

.employer__label {
    display: block;
    margin-bottom: 12px;
}

.employer__input {
    border-radius: 4px;
    padding: 0 16px;
    border: 0;
    height: 32px;
    width: 100%;
    outline: 0;
    border: 1px solid transparent;
}

.employer__input::placeholder {
    color: #ccc;
}

.employer__wrap-input:has(> .just-validate-success-field) .employer__input {
    border: 1px solid green;
}

.employer__wrap-input:has(> .just-validate-error-field) .employer__label {
    color:red;
}

.employer__wrap-input:has(> .just-validate-success-field) .employer__label {
    color: green;
}

.employer__fieldset:has(> .just-validate-success-field) .employer__textarea {
    border: 1px solid green;
}

.employer__fieldset:has(> .just-validate-error-field) .employer__label {
    color: red;
}

.employer__fieldset:has(> .just-validate-success-field) .employer__label {
    color: green;
}

.employer__textarea {
    border-radius: 4px;
    min-height: 140px;
    width: 100%;
    resize: vertical;
    border: 0;
    padding: 7px 16px;
    outline: 0;
    border: 1px solid transparent;
}

.employer__textarea::placeholder {
    color: #ccc;
}

.employer__input.just-validate-error-field,
.employer__textarea.just-validate-error-field {
    border-color: red;
}

.employer__input:focus-visible,
.employer__textarea:focus-visible {
    border-color: blue;
}

.employer__radio-buttons {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    gap: 20px;
    margin-bottom: 50px;
}
.employer__fieldset-radio {
    display: flex;
    flex-direction: column;
}

.employer__fieldset-radio:has(> .radio > .radio__input_error) .employer__legend {
    color:red
}

.employer__legend {
    margin-bottom: 12px;
}
.employer__label-radio {
    margin-bottom: 8px;
}

.employer__label-radio:last-child {
    margin-bottom: 0;
}

.employer__wrap-submit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}

.employer__submit {
    padding: 0 42px;
    height: 48px;
    border-radius: 8px;
    background-color: #a6adff;
    font-size: 20px;
    border: 2px solid transparent;
    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.employer__submit:focus-visible {
    border-color: #4f58be;
}

.employer__submit:hover {
    color: #fff;
    background-color: #2a18ff;
}

.employer__error {
    color: red;
}

.employer__success{
    color: green;
}

/* .just-validate-error-field {
    border: 1px solid red;
}

.just-validate-success-field {
    border: 1px solid green;
} */

@media (max-width: 1140px) {
    .employer {
        padding: 40px 0;
    }

    .employer__title {
        letter-spacing: 0.64px;
        margin-bottom: 40px;
    }

    .employer__file {
        margin-bottom: 24px;
    }

    .employer__fieldset {
        margin-bottom: 24px;
    }
    
    .employer__fieldset_input {
        row-gap: 24px;
    }

    .employer__radio-buttons {
        margin-bottom: 40px;
    }
}

@media (max-width: 940px) {
    .employer {
        padding: 30px 0;
    }

    .employer__title {
        font-size: 24px;
        letter-spacing: 0.48px;
        margin-bottom: 32px;
    }

    .employer__radio-buttons {
        margin-bottom: 32px;
    }

    .employer__fieldset_input {
        grid-template-columns: repeat(1, 1fr);
    }

    .employer__radio-buttons {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 24px 10px;
    }

    .employer__submit {
        height: 37px;
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    .employer {
        padding: 20px 0 40px;
    }

    .employer__title {
        font-size: 20px;
        letter-spacing: 0.4px;
        margin-bottom: 24px;
    }
}